{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">

    <div class="card shadow p-4" style="width: 400px;">
        <h3 class="text-center mb-3">Create Account</h3>

        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="mb-2">
                <label>First Name</label>
                <input type="text" name="first_name" class="form-control" required>
            </div>

            <div class="mb-2">
                <label>Last Name</label>
                <input type="text" name="last_name" class="form-control" required>
            </div>

            <div class="mb-2">
                <label>Phone Number</label>
                <input type="text" name="phone_number" class="form-control" maxlength="10" minlength="10" required>
            </div>

            <div class="mb-2">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-2">
                <label>Aadhaar Number</label>
                <input type="text" name="aadhaar_number" class="form-control" minlength="12" maxlength="12" required>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" minlength="8" required>
            </div>

            <button type="submit" class="btn btn-success w-100">
                Register
            </button>
        </form>

        <p class="text-center mt-3">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>

</div>

{% endblock %}