{% extends 'base.html' %}

{% block title %}
Deposit
{% endblock %}

{% block content %}

<body class="bg-light">

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    
    <div class="card p-4 shadow rounded-4" style="width: 400px;">
        
        <h3 class="text-center mb-3">💸 Transfer Money</h3>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <p class="text-center">Balance: <strong>₹ {{ customer.balance }}</strong></p>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="receiver" class="form-control mb-3" placeholder="Receiver Username" required>

            <input type="number" name="amount" class="form-control mb-3" placeholder="Amount" required>

            <button class="btn btn-primary w-100">Send Money</button>
        </form>

    </div>

</div>

</body>
{% endblock %}
